*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 1000; 
}

 header .logo{
     max-width: 120px;
 }

 header .logo img{
     max-width: 100%;
   }


.banner{
    position: relative;
    width: 110%;
    height: 100%;
    min-height: 100vh;
    padding: 0 70px;
    background-image: url("https://dealflowevents.com/wp-content/uploads/2019/08/spac20-hero-banner_v2_dfe.jpg") , url("https://images.squarespace-cdn.com/content/v1/52e00f18e4b0a3cec6b7344e/1483985069224-PYY53MGRXBC92MSKYB6Z/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/image-asset.jpeg");
    background-position: left , right;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto 100%;
    background-color: rgb(90,136,188);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    object-fit: contain
    ;
   
}

.banner .content{
    max-width: 550px;
   
}

.banner .content h2{
    font-size: 2.4em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    -webkit-text-stroke-width: .1px;
    animation: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    flex-direction: column;
    flex: auto;
}

.banner .content h2 #cool{
    font-weight: 1000;
   transition: all 3s ease-in-out;
   transform: rotate(360deg);
   font-size: 1.2em;
   color:rgb(52,69,92);
   flex-direction: column;
   flex: auto;
}

@keyframes moveInleft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translate(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}



.banner .content p{
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5em;
    color:white;
    margin: 15px 0 35px;
    animation: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;

}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translate(-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.banner .content a {
    font-weight: 1000;
    transform: scale(0.6);
}

.banner .content a img{
    font-weight: 1000;
}

.play {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5em;
    
}

.sci{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
}

.sci li a img{
    filter: invert(1);
    transform: scale(0.6);
}

.speaker{
    position: relative;
    width: 110%;
    height: 100%;
    min-height: 100vh;
    padding: 0 70px;
    background-position: left , right;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    object-fit: contain
    ;
   
}


.place{
    position: relative;
    width: 110%;
    height: 100%;
    min-height: 100vh;
    padding: 0 70px;
    background-image: url("https://media.gowallpaper.co.uk/media/catalog/product/r/a/rasch_highlands_grain_texture_off_white_wallpaper_-_550009.jpg"), url('https://meyersassociates.com/wp-content/uploads/2016/06/Westchester-Country-Club-Main-Clubhouse-by-David-Meyers.jpg');
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto 100%;
    background-color: rgb(253,244,229);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    object-fit: contain
    ;
}

.navbar .nav-link{
    color: white;
    font-size: 1.3em
}

.place .content-place{
    max-width: 550px;
   
}

.place .content-place h2{
    font-size: 2.4em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(90,136,188);
    -webkit-text-stroke-width: .1px;
    animation: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    flex-direction: column;
    flex: auto;
}

.place .content-place #span-place{
    font-weight: 1000;
   transition: all 3s ease-in-out;
   transform: rotate(360deg);
   font-size: 1.2em;
   color:rgb(52,69,92);
   flex-direction: column;
   flex: auto;
}


.place .content-place p{
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.5em;
    color:rgb(52,69,92);
    margin: 35px 0 15px;
    animation: moveInleft;
    animation-duration: 4s;
    animation-timing-function: ease-out;

}



@media (max-width: 769px)
{
    header{
        padding: 20px 50px;
        flex-direction: column;
    } 

    header{
        padding: 20px 50px;
    }
    header .logo{
        max-width: 80px;
    }

    header .toggle
    {
        max-width: 40px;
    }

    .banner{
        padding: 100px 50px;
    }

    .banner .content h2{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.05em;
        color:rgb(255,193,7);
    }

    .banner .content p{
        font-size: 1em;
        color:white;
    }

    .slide{
        position: relative;
        bottom: inherit;
        left: 0;
        width: 250px;
        height: 150px;
        margin: 20px 0;
    }

    .sci{
        position: absolute;
        top: inherit;
        transform: translateY(-50%);
        right: inherit;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        display: flex;
    }

    .sci li{
        list-style: none;
        margin: 0 5px;
    }
    
    .play{
        color:rgb(255,193,7)
    }
   
   video{
       width: 300px;
       height:200px;
   }
}